@import "/src/styles/media-screen-variables";

:host {
  position: fixed;
  bottom: -60px;
  right: -60px;
  z-index: 1;
  padding: 5px 30px;
  background: #a5a5a533;
  border-radius: 30px 0px 0px 0px;
  transition: all 2s ease;
  transform: scale(0.2);
  cursor: pointer;

  &.scrolled {
    transform: scale(1);
    bottom: 0;
    right: 0;
    & .scroll-to-top {
      width: auto;
      height: auto;
      padding: 15px;

      & mat-icon {
        width: auto;
        height: 15px;
        font-size: var(--font-icon-theme-small);
        display: block;
        transform: rotateZ(-90deg) scale(1);
        transition: 1s ease;
        color: var(--red);
      }
    }
    &:hover {
      background: #a5a5a59d;
      & .scroll-to-top {
        & mat-icon {
          transform: rotateZ(-90deg) scale(1.2);
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  :host {
    padding: 5px 20px;
    &.scrolled {
      & .scroll-to-top {
        padding: 10px;
        & mat-icon {
          height: 10px;
        }
      }
    }
  }
}

@media (max-width: $mobile-big) {
  :host {
    bottom: -20px;
    right: -20px;
    padding: 5px 10px;
    &.scrolled {
      & .scroll-to-top {
        padding: 5px;
        & mat-icon {
          height: 10px;
          font-size: var(--font-large);
        }
      }
    }
  }
}
