.mandatory-nature-message {
  & span {
    font-size: var(--font-extra-small);
    color: var(--red);
    display: inline-flex;
  }
  & mat-icon {
    font-size: var(--font-normal);
    color: var(--red);
    width: auto;
    height: auto;
    margin-right: 5px;
  }
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
