<form [formGroup]="formFeedback" *ngIf="inputContent | async as c">
  <div class="d-flex justify-content-around">
    <mat-form-field
      appearance="outline"
      *ngFor="let item of c.contentFeedbackFormInput"
    >
      <mat-label>{{ item.label }}</mat-label>
      <input
        matInput
        [placeholder]="item.placeholder"
        [formControlName]="item.formControlName"
      />
      <mat-icon matSuffix>{{ item.icon }}</mat-icon>
    </mat-form-field>
  </div>
  <div
    class="d-flex justify-content-center"
    *ngIf="textAreaContent | async as text"
  >
    <mat-form-field
      appearance="fill"
      *ngFor="let t of text.contentFeedbackFormTextArea"
    >
      <mat-label>{{ t.label }}</mat-label>
      <textarea
        rows="10"
        cols="60"
        matInput
        [placeholder]="t.placeholder"
        [formControlName]="t.formControlName"
        (keydown)="errorMessage($event)"
      ></textarea>
      <div
        class="mandatory-nature-message d-flex"
        *ngIf="t.msgError![0] as msg"
      >
        <span>
          <mat-icon *ngIf="characterLength < 50 || characterLength > 200">{{
            msg?.icon
          }}</mat-icon>
          <p *ngIf="characterLength < 50">{{ msg.label[0] }}</p>
          <p *ngIf="characterLength > 200">{{ msg.label[1] }}</p>
        </span>
      </div>
    </mat-form-field>
  </div>
</form>
