<ng-container *ngIf="cardPrice">
  <mat-tab *ngFor="let c of cardPrice" label="{{ c.price }} &euro;">
    <mat-card class="card-price">
      <div class="item">
        <div
          class="ribbon"
          *ngIf="c.special"
          [style.background]="c.background ? c.background : ''"
        >
          {{ c.special }}
        </div>
        <mat-card-title class="heading">{{ c.title }}</mat-card-title>
        <mat-card-subtitle>{{ c.subtitle }}</mat-card-subtitle>
        <mat-card-content class="features" *ngFor="let f of c.features">
          <h4>
            <span class="feature">{{ f.feature }}</span> :
            <span class="value">{{ f.value }}</span>
          </h4>
        </mat-card-content>
        <mat-card-actions class="price">
          <h4>{{ c.price }} &euro;</h4>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-tab>
</ng-container>
