<div class="portfolio-menu mt-2 mb-4">
  <ul (click)="onClick($event.target)">
    <li>
      <button class="withSpecialHover active" data-filter="">all</button>
    </li>
    <li>
      <button class="withSpecialHover" data-filter="amedin94@live.it">
        foto del 21/04/2022
      </button>
    </li>
    <li>
      <button class="withSpecialHover" data-filter="2">
        foto del 23/04/2022
      </button>
    </li>
    <li>
      <button class="withSpecialHover" data-filter="3">
        foto del 27/04/2022
      </button>
    </li>
  </ul>
</div>
