<mat-toolbar-row *ngIf="contentNavbar as c">
  <button mat-icon-button (click)="sidenav.toggle()" [fxShow]="isMobile">
    <mat-icon>{{ c.icon[0] }}</mat-icon>
  </button>
  <div class="container logo-navbar">
    <img [src]="c.logo" alt="logo-paintball" />
  </div>
  <span class="menu-spacer"></span>
  <div class="theme" (click)="changeTheme()">
    <mat-icon>{{ c.icon[1] }}</mat-icon>
  </div>
  <div [fxShow]="!isMobile">
    <mat-list class="inline-list">
      <mat-list-item
        [class.desktop]="!isMobile"
        *ngFor="let menu of menu"
        [routerLink]="menu.path"
        routerLinkActive="active"
      >
        <p>{{ menu.label }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</mat-toolbar-row>
