@import "/src/styles/sass-variables";
@import "/src/styles/media-screen-variables";

.mat-list-item {
  cursor: pointer;
  outline: none;
}

//modality desktop
.mat-list-base.inline-list {
  display: flex;
}

.menu-spacer {
  flex: 1 1 auto;
}
.desktop {
  font-size: $fontMedium;
  transition: 0.5s ease;
  &:hover:not(.active) {
    transform: scale(1.1);
  }
}
.desktop:not(.active) p {
  border: none;
  transition: 0.5s ease;
  &:after {
    display: block;
    content: "";
    border-bottom: solid 3px var(--red-mixed);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &:hover {
    color: var(--red-mixed);
  }
}

.desktop.active p {
  transform: scale(1.1);
  color: var(--red-mixed);
  display: block;
  content: "";
  border-bottom: solid 3px var(--red-mixed);
}

//hamburgher
mat-toolbar-row button {
  position: absolute;
  right: 5px;
  & mat-icon {
    font-size: 40px;
    width: auto;
    height: auto;
  }
}

//logo
.logo-navbar {
  position: absolute;
  width: 115px;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

//icon theme
.theme {
  margin-right: 100px;
  border-radius: 25%;
  border: none;
  cursor: pointer;
  & mat-icon {
    width: auto;
    height: auto;
    font-size: $fontIconTheme;
    padding: 5px 5px;
    border-radius: 50px;
    background: #e7ae81;
    box-shadow: var(--shadow-icon-change-theme-light);
  }
}

.theme:active .mat-icon {
  transform: scale(0.9);
  -moz-box-shadow: inset 0 0 6px var(--black);
  -webkit-box-shadow: inset 0 0 6px var(--black);
  box-shadow: inset 0 0 6px var(--black);
  // transform: translateY(-1px);
}

@media (max-width: $mobile-big) {
  .theme {
    margin-right: 60px;
  }
}

@media (max-width: $mobile-small) {
  .logo-navbar {
    width: 100px;
  }
  .theme {
    & mat-icon {
      font-size: $fontIconThemeSmall;
    }
  }
}
