<div class="container comment">
  <h1>Lascia un commento</h1>

  <div *ngFor="let item of pageSlice">
    <div class="image-unknown">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/1200px-Unknown_person.jpg"
        alt=""
      />
    </div>
    <mat-card>
      <small>{{ item.dateTime }}</small>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.email }}</mat-card-subtitle>
      <mat-card-actions>
        <p>{{ item.message }}</p>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="noCommentYet text-center" *ngIf="noCommentYet">
    <span>Non è ancora presente nessun commento</span>
  </div>

  <mat-paginator
    [length]="feedbackLength"
    [pageSize]="3"
    [pageSizeOptions]="[3, 5, 7]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<div class="container text-center formFeedback">
  <form [formGroup]="formFeedback">
    <div class="d-flex justify-content-around">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Scrivi il tuo nome"
          formControlName="name"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="mario@rossi.it" formControlName="email" />
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Feedback</mat-label>
        <textarea
          rows="10"
          cols="60"
          matInput
          formControlName="message"
          placeholder="Lascia un commento"
          (keydown)="errorMessage($event)"
        ></textarea>
        <div class="mandatory-nature-message d-flex">
          <span *ngIf="characterLength < 50"
            ><mat-icon>error_outline</mat-icon> Lunghezza minima messaggio 50
            caratteri</span
          >
          <span *ngIf="characterLength > 200"
            ><mat-icon>error_outline</mat-icon> Lunghezza massima 200
            caratteri</span
          >
        </div>
      </mat-form-field>
    </div>
  </form>

  <div>
    <div
      class="alert alert-danger animate__animated"
      [ngClass]="[
        formFeedback.invalid ? 'animate__bounceIn' : 'animate__bounceOut'
      ]"
      role="alert"
    >
      Tutti i campi sono obbligatori
    </div>
    <div class="sendForm">
      <button
        class="withSpecialHover"
        type="submit"
        (click)="sendForm()"
        [disabled]="formFeedback.invalid"
      >
        <span>Pubblica</span> <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
