<mat-card class="card-contact" *ngIf="content">
  <mat-card-header>
    <mat-card-title>CONTATTI</mat-card-title>
    <mat-card-subtitle>Paintball</mat-card-subtitle>
  </mat-card-header>
  <hr class="hr-horizontal" />
  <mat-card-content>
    <div class="d-flex justify-content-around mt-4 mb-4">
      <div class="m-4" *ngFor="let c of content; let i = index">
        <div class="icon text-center mb-4">
          <mat-icon>{{ content[selectedIndex][i].icon }}</mat-icon>
        </div>
        <div class="content text-center animate__animated animate__zoomIn">
          <a
            href="{{
              (content[selectedIndex][i].icon === 'phonelink_ring'
                ? 'tel:'
                : '' || content[selectedIndex][i].icon === 'alternate_email'
                ? 'mailto:'
                : '') + content[selectedIndex][i].content
            }}"
          >
            <p>
              {{ content[selectedIndex][i].content }}
            </p>
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
  <hr class="hr-horizontal" />
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
