// $pos: 8%;
// @mixin direction($className) {
//   @if $className == left {
//     $pos: 8%;
//   } @else if $className == right {
//     $pos: 92%;
//   } @else if $className == center {
//     $pos: 50%;
//   }
// }
// .card-contact.left {
//   @include direction(left);
// }
// .card-contact.right {
//   @include direction(right);
// }
// .card-contact.center {
//   @include direction(center);
// }

.card-contact {
  box-shadow: var(--shadow-card-description-lightMode);
  padding: 30px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 8%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -26px;
    left: 0;
    border-style: solid;
    border-width: 27px 50px 0;
    border-color: var(--white) transparent;
    display: block;
    width: 0;
    z-index: 0;
    transform: scaleY(-1);
    transition: 1s ease;
  }
  &.center::before {
    left: calc((100% - 50%) - 50px);
  }
  &.right::before {
    left: calc((100% - 50px) - 50px);
  }
  & .mat-icon {
    font-size: var(--font-icon-theme);
  }
  & .content {
    animation-duration: 1s;
  }
}
