@import "/src/styles/media-screen-variables";

.card-contact {
  box-shadow: var(--shadow-card-description-lightMode);
  padding: 30px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 8%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -26px;
    left: 0;
    border-style: solid;
    border-width: 27px 50px 0;
    border-color: var(--white) transparent;
    display: block;
    width: 0;
    z-index: 0;
    transform: scaleY(-1);
    transition: 1s ease;
  }
  &.center::before {
    left: calc((100% - 50%) - 50px);
  }
  &.right::before {
    left: calc((100% - 50px) - 50px);
  }
  & .mat-icon {
    font-size: var(--font-icon-theme);
  }
  & .content {
    animation-duration: 1s;
  }
}

@media (max-width: $laptop) {
  .card-contact {
    margin-left: 16%;
    margin-right: 16%;
  }
}

@media (max-width: $tablet) {
  .card-contact {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: $mobile-big) {
  .card-contact {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: $mobile-small) {
  .card-contact {
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
    & .mat-card-content .d-flex {
      justify-content: space-between !important;
      flex-direction: column;
    }
    & .m-4 {
      margin: 0 !important;
      & .mat-icon {
        font-size: var(--font-icon-theme-extraSmall);
      }
    }
  }
}
