<div
  class="download-images position-absolute w-auto h-auto"
  (click)="
    download(
      'https://lh3.googleusercontent.com/ycyKL02tdVPkg-tGz5E2o3iDU4OMiQvtPQ3RMt_LyFvfZLtF0cbxgFro3ewsM6ciAX4vA5VCrGS01yY3ktGHi9OjP1D7UzK2pPd8v0plzKJihUWTGfXEvb2rDNSeR0LSaDmVYWEBJymJcH3su8RnCFAZhXfgRbBF_gO-Nd3Ta4IBHdifGMKAq9Jfme71qi5QgAu6YTzPMp4bPBemah5agUJkKpYqrYWpPb312M1k4Zx8-Nb-0EDozrDso43xybU_JHVtx3mgbwqlA7QhznFAoY1829f-3rxDRe506RsTjOceM8yGUAU38CA-WARZKpdG5QURZY7dfNqWDi1zo0H5sZ7iY7aO7U209rWJnwCWR0frbe2mxlecqJZPNmfp7PyTq_j3oGf2cRzqzzpxbzEQCmOGL4E-MSWQnqBfTaVBMcjTVaMaeJ5i_gg_HuaekayXNODMk6gGt-MXA7eyq6iLrN99UjiVwy5vj1yrF9keasD0Mc_xPVu5GAWMWNBMPTwUIOBlI3KkEzjOXLHshnYsRE09g-TcrlhNEnkXz9UZigaBPqlgYXDLLH00Mn1-faKoq9lPYqLcsvf1R4fupXmnKCFX741kKQ6Gog105-kcX8czt8xylDi4Hoh1M-Gzl_gC1iSGJpcoOyuGlhSVhE51aJhlnyJnzIzKpOFhEsAJYBBUZrrNLyC7pbUUsDjg77jzBNoKJ3PIOHtVCnJA_sb4gYol=w1250-h937-no?authuser=0'
    )
  "
>
  <mat-icon>download</mat-icon>
</div>
