$fontExtraSmall: 13px;
$fontNormal: 16px;
$fontMedium: 18px;
$fontLarge: 20px;
$fontExtraLarge: 22px;
$fontWeight: 600;
$fontIconTheme: 35px;
$fontIconThemeExtraLarge: 45px;
$fontIconThemeSmall: 25px;
$fontIconThemeExtraSmall: 15px;
$fontPrevAndNextCarousel: 60px;
