:root {
  --black: #000;
  --white: #fff;
  --background: #424242;
  --dark-grey: #2c2c2c;
  --negative-grey: #c4c4c4;
  --strong-grey: #887979;
  --grey: #b3b3b3;
  --transparent-grey: #b3b3b38a;
  --grey-icon: rgb(202, 200, 201);
  --red: #f75e62;
  --red-mixed: #d66451;
  --orange: #ed8c66;
  --dark-orange: #d68a51;
  --light-orange: #edb284d3;
  --yellow: #fff700;
  --dark-yellow: #f7b65e;
  --green-ok: #3bc27a;
  --blue-tag-anchor: #001def;
  --blue-tag-anchor-hover: rgb(0, 28, 240, 50%);
  --shadow-card-description-lightMode: rgb(0 0 0 / 23%) 0px 10px 36px 0px,
    rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  --shadow-card-description-darkMode: rgba(255, 255, 255, 0.23) 0px 10px 36px
      0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
  --text-shadow-lightMode: rgb(0 0 0 / 70%) 0px 5px 15px;
  --text-shadow-darkMode: rgba(255, 255, 255, 0.7) 0px 5px 15px;
  --shadow-icon-change-theme-light: 20px 20px 60px #c4946e,
    -20px -20px 60px #ffc894;
  --shadow-icon-change-theme-dark: inset 15px 15px 30px #b28663,
    inset -15px -15px 30px #ffd69f;
  --box-shadow-very-clear-lightMode: rgb(0 0 0 / 20%) 0px 5px 15px;
  --box-shadow-very-clear-darkMode: rgb(255 255 255 / 20%) 0px 5px 15px;
}
