<swiper
  [effect]="'coverflow'"
  [loop]="true"
  [navigation]="true"
  [grabCursor]="true"
  [centeredSlides]="true"
  [slidesPerView]="'auto'"
  [coverflowEffect]="{
    rotate: 50,
    stretch: 0,
    depth: 100,
    modifier: 1,
    slideShadows: true
  }"
  [pagination]="{
    clickable: true
  }"
  [autoplay]="{
    delay: 2500,
    disableOnInteraction: true
  }"
  [zoom]="true"
  class="mySwiper"
>
  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-zoom-container">
      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </div>
  </ng-template>
</swiper>
