@import "/src/styles/sass-variables";

//modality mobile
.mobile {
  cursor: pointer;
  font-size: $fontLarge;
  transition: 0.5s ease;
  &.active {
    font-size: $fontExtraLarge + 2;
    color: var(--red-mixed);
  }
}

.mobile p {
  border: none;
  transition: transform 250ms ease-in-out;
  &:after {
    display: block;
    content: "";
    position: relative;
    bottom: -20px;
    border-bottom: solid 3px var(--red-mixed);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
}
.mobile.active p::after {
  transform: scaleX(1);
}

//icon close
.mat-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 35px;
  width: auto;
  height: auto;
  z-index: 999;
}
