<ng-container *ngIf="menu">
  <div class="container-fluid" *ngIf="!openImageFullScreen">
    <app-header></app-header>
    <mat-toolbar [class.sticky]="sticky">
      <app-navbar
        [menu]="menu"
        [contentNavbar]="contentNavbar"
        [sidenav]="sidenav"
        (themeChange)="themeChange($event)"
      ></app-navbar>
    </mat-toolbar>
  </div>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="text-center" [class.sticky-navbar]="sticky">
      <app-vertical-menu [menu]="menu" [sidenav]="sidenav"></app-vertical-menu>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer [copyright]="copy"></app-footer>
  <app-go-to-top></app-go-to-top>
</ng-container>
