<div class="container-fluid preview" [class.rotateMobile]="rotate">
  <div
    class="position-fixed w-100 justify-content-center showImg"
    [ngClass]="!img ? 'd-none' : 'd-flex'"
  >
    <div
      class="position-absolute w-100 h-100 animate__animated container-all-content-fullImg"
      (mouseenter)="showBackgroundIcon = true"
      (mouseleave)="showBackgroundIcon = false"
    >
      <img
        class="w-100 h-100"
        [src]="img"
        [id]="id"
        alt=""
        [class.imgHover]="showBackgroundIcon"
        (click)="showAllOption()"
      />

      <div
        class="all-option"
        *ngIf="img"
        [class.showOpacity]="showBackgroundIcon"
      >
        <ng-container *ngIf="showBackgroundIcon">
          <div class="d-inline close" (click)="hideImg()">
            <mat-icon>close</mat-icon>
          </div>
          <div class="d-inline download-image" (click)="download(img)">
            <mat-icon>download</mat-icon>
          </div>
          <div class="background-icon bk-btn-top"></div>
          <div class="before" (click)="beforeImg()">
            <mat-icon>navigate_before</mat-icon>
          </div>
          <div class="next" (click)="nextImg()">
            <mat-icon>navigate_next</mat-icon>
          </div>
          <div class="background-icon bk-btn-bottom"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
