<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center my-2">
      <h4>Tutte le foto disponibile</h4>
    </div>
  </div>
  <div class="portfolio-menu mt-2 mb-4">
    <ul (click)="onClick($event.target)">
      <li class="btn btn-outline-dark active" data-filter="*">All</li>
      <li class="btn btn-outline-dark" data-filter=".gts">Girls T-shirt</li>
      <li class="btn btn-outline-dark" data-filter=".lap">Laptops</li>
      <li class="btn btn-outline-dark text" data-filter=".selfie">selfie</li>
    </ul>
  </div>
  <app-images (img)="showImg($event)"></app-images>
</div>
<app-image-full-screen></app-image-full-screen>
