<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center my-2">
      <h4>Tutte le foto disponibile</h4>
    </div>
  </div>
  <div class="portfolio-menu mt-2 mb-4">
    <ul (click)="onClick($event.target)">
      <li class="active" data-filter="*">
        <button class="withSpecialHover">all</button>
      </li>
      <li class="" data-filter=".gts">
        <button class="withSpecialHover">foto del 21/04/2022</button>
      </li>
      <li class="" data-filter=".lap">
        <button class="withSpecialHover">foto del 23/04/2022</button>
      </li>
      <li class="text" data-filter=".selfie">
        <button class="withSpecialHover">foto del 27/04/2022</button>
      </li>
    </ul>
  </div>
  <app-images></app-images>
</div>
<app-image-full-screen></app-image-full-screen>
