<div class="container card-description">
  <div class="row">
    <div class="content-card">
      <div
        class="card card-just-text"
        data-background="color"
        data-color="red"
        data-radius="none"
      >
        <div class="content">
          <h6 class="category">PaintBall</h6>
          <h4 class="title">Piccola descrizione della nostra attivià</h4>
          <p class="description">
            What all of these have in common is that they're pulling information
            out of the app or the service and making it relevant to the moment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
