@import "/src/styles/media-screen-variables";
@import "/src/styles/sass-variables";

//general Card
.simple-card {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  & mat-card {
    padding: 130px;
    max-width: 90%;
    margin: 0 auto;
    float: none;
    box-shadow: var(--shadow-card-description-lightMode) !important;
    border: 1px solid var(--red);
  }
}

// for card with image in background
.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.img-background img {
  margin: 0 auto;
  position: relative;
  opacity: 0.2;
  display: block;
  -webkit-animation-name: escala_imagen;
  -webkit-animation-duration: 25s;
  animation-name: escala_imagen;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}
.active-description {
  width: 50%;
  text-align: justify;
}

@keyframes escala_imagen {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

// for card with carousel float right
.simple-card.card-with-img {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 150px;
  margin-bottom: 150px;
  mat-card {
    padding: 30px;
    max-width: 100%;
    height: 400px;
  }
}
.img-inline {
  position: absolute;
  top: 0;
  width: 40%;
  height: -webkit-fill-available;
  float: right;
  right: 0;
  & .swiper {
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    height: inherit;
    min-height: 0;
    margin-bottom: 0;
    & .swiper-slide {
      height: auto;
    }
  }
}

// paragraph with carousel
.active-description {
  position: absolute;
}

@media (max-width: $tablet) {
  .simple-card .mat-card-title {
    font-size: $fontLarge;
  }
  .active-description {
    font-size: $fontExtraSmall;
  }
}

@media (max-width: $mobile-big) {
  .simple-card {
    margin-left: 20px;
    margin-right: 20px;
    & mat-card {
      padding: 44px;
      max-width: 70%;
      & .mat-card-title {
        max-width: 70%;
      }
    }
  }
}

@media (max-width: $mobile-small) {
  .simple-card {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 59px;
    margin-bottom: 59px;
    & mat-card {
      padding: 25px;
      max-width: 90%;
    }
  }
  .card-with-img mat-card {
    padding: 15px;
    height: 450px;
    & .mat-card-title {
      max-width: 60%;
    }
    & .active-description {
      width: 90%;
      top: 40%;
    }
    & .img-inline {
      top: 0;
      width: 40%;
      height: auto;
    }
  }
}
