<mat-toolbar color="transparent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Responsive Navigation</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <mat-list class="inline-list">
        <mat-list-item
          *ngFor="let menu of menu"
          [routerLink]="menu.path"
          routerLinkActive="active"
        >
          <p>{{ menu.label }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <!-- <mat-list class="inline-list"> -->
    <mat-list-item
      *ngFor="let menu of menu"
      [routerLink]="menu.path"
      routerLinkActive="active"
    >
      <p>{{ menu.label }}</p>
    </mat-list-item>
    <!-- </mat-list> -->
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
</mat-sidenav-container>
