@import "/src/styles/sass-variables";

.mat-list-item {
  cursor: pointer;
  outline: none;
}

//modality desktop
.mat-list-base.inline-list {
  display: flex;
}

.menu-spacer {
  flex: 1 1 auto;
}
.desktop {
  font-size: $fontMedium;
  transition: 0.5s ease;
  &:hover:not(.active) {
    transform: scale(1.1);
  }
}
.desktop:not(.active) p {
  border: none;
  transition: 0.5s ease;
  &:after {
    display: block;
    content: "";
    border-bottom: solid 3px var(--red-mixed);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &:hover {
    color: var(--red-mixed);
  }
}

.desktop.active p {
  transform: scale(1.1);
  color: var(--red-mixed);
  display: block;
  content: "";
  border-bottom: solid 3px var(--red-mixed);
}

//hamburgher
mat-toolbar-row button {
  position: absolute;
  right: 5px;
  & mat-icon {
    font-size: 40px;
    width: auto;
    height: auto;
  }
}

//logo
.logo-navbar {
  position: absolute;
  top: 4px;
  max-width: 80px;
  max-height: inherit;
  img {
    position: relative;
    width: 55px;
  }
}

@media (max-width: 599px) {
  .logo-navbar {
    position: absolute;
    top: 0;
  }
}

//sticky fixed top
.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}
