@import "/src/styles/sass-variables";

.mat-toolbar .mat-list-item {
  cursor: pointer;
  outline: none;
}

//modality desktop
.mat-list-base.inline-list {
  display: flex;
}

.menu-spacer {
  flex: 1 1 auto;
}
.desktop {
  font-size: $fontMedium;
  transition: 0.5s ease;
  &:hover:not(.active) {
    transform: scale(1.1);
  }
}
.desktop:not(.active) p {
  border: none;
  transition: 0.5s ease;
  &:after {
    display: block;
    content: "";
    border-bottom: solid 3px var(--red-mixed);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &:hover {
    color: var(--red-mixed);
  }
}

.desktop.active p {
  transform: scale(1.1);
  color: var(--red-mixed);
  display: block;
  content: "";
  border-bottom: solid 3px var(--red-mixed);
}

//modality mobile
.mat-sidenav-container .mat-sidenav {
  width: 70%;
}
.mobile {
  cursor: pointer;
  font-size: $fontLarge;
  transition: 0.5s ease;
  &.active {
    font-size: $fontExtraLarge + 2;
    color: var(--red-mixed);
  }
}

.mobile p {
  border: none;
  transition: transform 250ms ease-in-out;
  &:after {
    display: block;
    content: "";
    position: relative;
    bottom: -20px;
    border-bottom: solid 3px var(--red-mixed);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
}
.mobile.active p::after {
  transform: scaleX(1);
}
