<mat-toolbar-row>
  <button mat-icon-button (click)="sidenav.toggle()" [fxShow]="isMobile">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="container logo-navbar">
    <img
      [src]="
        'https://image.shutterstock.com/image-vector/paintball-player-stylized-vector-symbol-600w-701302792.jpg'
      "
      alt="logo-paintball"
    />
  </div>
  <span class="menu-spacer"></span>
  <div [fxShow]="!isMobile">
    <mat-list class="inline-list">
      <mat-list-item
        [class.desktop]="!isMobile"
        *ngFor="let menu of menu"
        [routerLink]="menu.path"
        routerLinkActive="active"
      >
        <p>{{ menu.label }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</mat-toolbar-row>
