<ng-container *ngIf="content | async as c">
  <div class="done">
    <mat-icon>{{ c.contentModalConfirm[0].icon }}</mat-icon>
  </div>
  <h1 mat-dialog-title>{{ c.contentModalConfirm[0].title }}</h1>
  <div mat-dialog-content>
    <ng-container *ngFor="let item of c.contentModalConfirm[0].paragraph">
      <p>{{ item }}</p>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      color="success"
      mat-dialog-close
      (click)="confirm()"
    >
      {{ c.contentModalConfirm[0].forwardButton }}
    </button>
    <button
      mat-stroked-button
      color="warn"
      mat-dialog-close
      (click)="goToBack()"
    >
      {{ c.contentModalConfirm[0].backwardButton }}
    </button>
  </div>
</ng-container>
