<div class="done">
  <mat-icon>done_outline</mat-icon>
</div>
<h1 mat-dialog-title>Conferma pubblicazione feedback</h1>
<div mat-dialog-content>
  <p>Sei sicuro di voler pubblicare questo feedback?</p>
  <p>
    Si ricorda che una volta pubblicato il post non si può più cancellare!!!
  </p>
  <p>Se lo si vuole fare, si prega di contattarci</p>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    color="success"
    mat-dialog-close
    (click)="confirm()"
  >
    Confermo
  </button>
  <button mat-stroked-button color="warn" mat-dialog-close (click)="goToBack()">
    Indietro
  </button>
</div>
