@import "/src/styles/media-screen-variables";

mat-card {
  margin-top: 15%;
  padding: 4% 7% 3%;
  border: 1px solid var(--red);

  & small {
    position: absolute;
    right: 20%;
    top: 10%;
    color: var(--grey);
  }
}
.star-feedback {
  position: absolute;
  right: 10px !important;
  top: 0%;
  & mat-icon {
    color: var(--grey);
    font-size: var(--font-large);
    width: auto;
    height: auto;
    &.positive {
      color: var(--yellow-star-checked);
    }
  }
}

.image-unknown {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  & img {
    position: relative;
    top: -80%;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid var(--red);
  }
}

@media (max-width: $laptop) {
  .image-unknown {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: $tablet) {
  .image-unknown {
    width: 50px;
    height: 50px;
  }
  .mat-card-title {
    font-size: var(--font-large);
  }
  .mat-card-subtitle,
  p {
    font-size: var(--font-extra-small);
  }
  mat-card {
    & small {
      right: 25%;
      top: 10%;
      font-size: calc(var(--font-extra-small) - 3px);
    }
  }
  .star-feedback {
    margin-top: 2px;
    & mat-icon {
      font-size: var(--font-extra-small);
    }
  }
}
