<mat-toolbar
  *ngIf="
    copyright !== undefined || followUs !== undefined || sponsor !== undefined
  "
  class="footer"
  [ngClass]="{
    copy: copyright !== undefined,
    follow: followUs !== undefined,
    sponsor: sponsor !== undefined
  }"
>
  <mat-toolbar-row>
    <div *ngIf="copyright !== undefined">
      <div *ngFor="let copy of copyright">
        <span [innerHTML]="copy.label"></span>
        <span [innerHTML]="copy.paragraph"></span>
      </div>
      <div class="realizedBy">
        <span
          >Realized by<a
            href="https://www.linkedin.com/in/ahmed-riahi-9967431b0/"
            target="_blank"
          >
            Riahi Ahmed
          </a>
        </span>
      </div>
    </div>

    <div *ngIf="followUs !== undefined" class="paragraph">
      <span>{{ followUs[0].paragraph }}</span>
      <div class="d-flex justify-content-center mt-2">
        <div *ngFor="let follow of followUs" class="m-2">
          <a
            (click)="openUrl(follow.path)"
            matTooltip="Seguici su {{ follow.label }}"
            class="btn p-0"
            ><img [src]="follow.icon" [alt]="follow.label"
          /></a>
        </div>
      </div>
    </div>

    <div *ngIf="sponsor !== undefined">
      <div class="d-flex justify-content-center">
        <div *ngFor="let s of sponsor" class="m-2">
          <a
            (click)="openUrl(s.path)"
            matTooltip="Clicca per vedere il sito di {{ s.label }}"
            class="btn p-0"
            ><img [src]="s.img" [alt]="s.label"
          /></a>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
