@import "./variable-color.scss";
@import "./media-screen-variables";
@import "./sass-variables";

@import "~@angular/material/theming";

/* Importing bootstrap */
@import "~bootstrap/scss/bootstrap";

@include mat-core();

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include angular-material-theme($app-theme);

$app-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

.darkMode {
  @include angular-material-theme($app-dark-theme);
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//button generico
button {
  border: none;
  background-color: var(--transparent-grey);
  margin: 5px;
}

//navbar
.mat-toolbar .mat-list-item {
  cursor: pointer;
  outline: none;
}
.mat-list-base.inline-list {
  display: flex;
}

.mat-sidenav-container .mat-sidenav {
  width: 50%;
}
.mat-sidenav-container .mat-sidenav .mat-list-item {
  cursor: pointer;
  font-size: $fontLarge;
  padding: 10px;
}
.mat-sidenav-container .mat-sidenav .mat-list-item p {
  margin: 10px;
}
