:root {
  --black: #000;
  --white: #fff;
  --dark-grey: #2c2c2c;
  --negative-grey: #c4c4c4;
  --strong-grey: #606060;
  --grey: #b3b3b3;
  --transparent-grey: #b3b3b38a;
  --red: #f75e62;
  --red-mixed: #d66451;
  --orange: #ed8c66;
  --dark-orange: #d68a51;
  --dark-yellow: #f7b65e;
}
