:root {
  --black: #000;
  --white: #fff;
  --dark-grey: #2c2c2c;
  --negative-grey: #c4c4c4;
  --strong-grey: #887979;
  --grey: #b3b3b3;
  --transparent-grey: #b3b3b38a;
  --grey-icon: hsl(340deg 8% 28%);
  --red: #f75e62;
  --red-mixed: #d66451;
  --orange: #ed8c66;
  --dark-orange: #d68a51;
  --light-orange: #edb284d3;
  --dark-yellow: #f7b65e;
  --shadow-card-description-lightMode: 2px 2px 2px 2px rgba(82, 80, 75, 50%),
    2px 2px 2px 10px rgba(82, 80, 75, 30%),
    2px 2px 2px 20px rgba(82, 80, 75, 15%),
    2px 2px 2px 30px rgba(82, 80, 75, 6%), 2px 2px 2px 35px rgba(82, 80, 75, 2%);
  --shadow-card-description-darkMode: 2px 2px 2px 2px rgba(204, 197, 185, 50%),
    2px 2px 2px 10px rgba(204, 197, 185, 30%),
    2px 2px 2px 20px rgba(204, 197, 185, 15%),
    2px 2px 2px 30px rgba(204, 197, 185, 6%),
    2px 2px 2px 35px rgba(204, 197, 185, 2%);
}
